body{
    border: 0px;
    margin: 0px;
    background-image: url(https://amidstasinglebreath.github.io/assets/Images/circle-blues.png);
    text-align: center;
}

.navbar{
    background-color: #ffffff;
    width: 100%;
}

.navContent{
    background-color: #ffffff;
    width: 960;
    height: 90px;
    padding: 0px;
    border-bottom: 4px solid #dddddd;
}

.titleS{
    float: left;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 280px;
    margin-top: 0;
    padding: 21px 18px;
}

.linkObj{
    float: right;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 20px;
}

.linkObj li {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: inline;
}

li a{
    text-decoration: none;
}

.centerNavs{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 0px 20px;
}